mat-results/
features/
images/
*.m~
Results/demo_london_BSD.avi
Results/demo_london_BSD (Converted).mov

Data/edinburgh_10_19/results/BSDfalsefalse.mat
Data/edinburgh_10_19/results/BSDtruefalse.mat
Data/edinburgh_10_19/results/BSDtruefalse_100.mat
Data/edinburgh_10_19/results/BSDtruefalse_50.mat
Data/edinburgh_10_19/results/BSDtruefalse.mat
Data/edinburgh_10_19/results/BSDtruefalse_60.mat
Data/edinburgh_10_19/results/BSDtruefalse_70.mat
Data/edinburgh_10_19/results/BSDtruefalse_80.mat
Data/edinburgh_10_19/results/BSDtruefalse_90.mat
Data/london_10_19/results/BSDfalsefalse.mat
Data/london_10_19/results/BSDonlyfalse.mat
Data/london_10_19/results/BSDtruefalse.mat
Data/edinburgh_10_19/results/BSDtruefalse.mat
Data/london_10_19/results/BSDtruefalse.mat
Data/london_10_19/results/BSDtruefalse_100.mat
Data/london_10_19/results/BSDtruefalse_50.mat
Data/london_10_19/results/BSDtruefalse_60.mat
Data/london_10_19/results/BSDtruefalse_70.mat
Data/london_10_19/results/BSDtruefalse_80.mat
Data/london_10_19/results/BSDtruefalse_90.mat
Data/luton_v4/results/BSDtruefalse.mat
Data/luton_v4/results/BSDtruefalse_100.mat
Data/luton_v4/results/BSDtruefalse_50.mat
Data/luton_v4/results/BSDtruefalse_60.mat
Data/luton_v4/results/BSDtruefalse_70.mat
Data/luton_v4/results/BSDtruefalse_80.mat
Data/luton_v4/results/BSDtruefalse_90.mat
Data/luton_v4/results/EStruefalse.mat
Data/newyork_10_19/results/BSDfalsefalse.mat
Data/newyork_10_19/results/BSDtruefalse.mat
Data/oxford_10_19/results/BSDfalsefalse.mat
Data/oxford_10_19/results/BSDtruefalse.mat
Data/oxford_10_19/results/BSDtruefalse_100.mat
Data/oxford_10_19/results/BSDtruefalse_50.mat
Data/oxford_10_19/results/BSDtruefalse_60.mat
Data/oxford_10_19/results/BSDtruefalse_70.mat
Data/oxford_10_19/results/BSDtruefalse_80.mat
Data/oxford_10_19/results/BSDtruefalse_90.mat
Data/paris_10_19/results/BSDfalsefalse.mat
Data/paris_10_19/results/BSDtruefalse.mat
Data/rome_v1/results/BSDfalsefalse.mat
Data/rome_v1/results/BSDtruefalse.mat
Data/tonbridge_v2/results/BSDtruefalse.mat
Data/tonbridge_v2/results/BSDtruefalse_100.mat
Data/tonbridge_v2/results/BSDtruefalse_50.mat
Data/tonbridge_v2/results/BSDtruefalse_60.mat
Data/tonbridge_v2/results/BSDtruefalse_70.mat
Data/tonbridge_v2/results/BSDtruefalse_80.mat
Data/tonbridge_v2/results/BSDtruefalse_90.mat
Data/toronto_v1/results/BSDfalsefalse.mat
Data/toronto_v1/results/BSDtruefalse.mat
Data/washington_10_19/results/BSDfalsefalse.mat
Data/washington_10_19/results/BSDtruefalse.mat
demo_london_BSD_v1.avi
demo_london_BSD_v2.avi
Data/edinburgh_10_19/results/BSDtruefalse.mat
Data/london_10_19/results/BSDtruefalse.mat
Data/newyork_10_19/results/BSDtruefalse.mat
Data/oxford_10_19/.DS_Store
Data/oxford_10_19/results/BSDtruefalse.mat
Data/paris_10_19/results/BSDtruefalse.mat
Data/rome_v1/results/BSDtruefalse.mat
Data/toronto_v1/results/BSDtruefalse.mat
Data/washington_10_19/results/BSDtruefalse.mat
