mat-results/
features/
images/
*.m~
Results/demo_london_BSD.avi
Results/demo_london_BSD (Converted).mov


Data/london_10_19/results/

Data/oxford_10_19/results/

Data/paris_10_19/results/

Data/rome_v1/results/
