*.json
sub_results_es/
mat-results/
features/
images/
results/
results_bs/
results_th/
results_th2/
results_th3/
*.m~
*.pgw
*.pyc
Results/demo_london_BSD.avi
Results/demo_london_BSD (Converted).mov

Data/london_10_19/results/

Data/oxford_10_19/results/

Data/edinburgh_10_19/results/

Data/luton_v4/results/

Data/tonbridge_v2/results/

Data/paris_10_19/results/

Data/rome_v1/results/

Data/toronto_v1/results/

Data/washington_10_19/results/

OSM_Files/
Data/newyork_10_19/results/
ES_results/
Results/

OSM Files
results_version_v1/
results_bs/BSD/unionsquare5k/BSDfalsefalse_resnet18.mat
